<ion-header>
  <ion-toolbar>
      <ion-back-button (click)="myBackButton()"></ion-back-button>
    <ion-title>Liste des produits</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div scrollY="true" id="myFixZone">

    <ion-item *ngFor="let prod of products | async">
      <ion-label>
       <h2>{{ prod.name }}</h2>
     </ion-label>
   </ion-item>

</div>
<form (ngSubmit)="addProduct()">

  <ion-button color="primary" type="submit">Ajouter</ion-button>  <ion-input type="text" [(ngModel)]="product" name="product"></ion-input>
</form>
</ion-content>
