<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
<ion-row>
  <ion-col style="text-align: center">
    <ion-button (click)='golistes()'>Listes</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="text-align: center">
    <ion-button (click)='goproducts()'>Produits</ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="text-align: center">
    <ion-button (click)='goshops()'>Magasins</ion-button>
  </ion-col>
</ion-row>
  </div>
</ion-content>
