<ion-header>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
  <button type="button" name="button" (click)="initDB()">init db</button>
  <ion-item  routerLink="/details" routerDirection="forward" *ngFor="let product of data.products">
  {{product.name}} - {{product.description}}
  <ion-checkbox *ngIf='product.isBought == false' checked="false"></ion-checkbox>

  <ion-checkbox *ngIf='product.isBought == true' checked="true"></ion-checkbox>
  </ion-item>


  </div>
</ion-content>
